<%= render "shared/banner2" %>
<div class="container-edit-post">
<div class="title-card"><h1>Modifier mon post</h1></div>
    <div class="row">
      <div class="col">
            <%= form_with model: @journal_post, local: true do |form| %>
          <div>
            <%= form.label :date %>
            <%= form.date_field :date %>
          </div>

          <div>
            <%= form.label :content %>
            <%= form.text_area :content %>
          </div>

          <div>
            <%= form.submit "Mettre à jour" %>
          </div>
          <% end %>

      </div>
  </div>
</div>
