<%= render "shared/banner2" %>
<div class="container-journal">
  <div class="title-card">
    <h1>Mon journal</h1>
  </div>
  <div class="button-add">
    <%= link_to new_journal_post_path do %>
      <%= image_tag "circle-add.svg", id: "button-add", alt: "button add post" %>
    <% end %>
  </div>
  <% @journal_posts.each do |post| %>
    <div class="post-card-index">
      <div>
        <%= post.date %>
      </div>
      <div>
        <%= truncate(post.content, length: 35, separator: ' ') %>
      </div>
      <div class="see-button">
        <%= link_to "Voir", journal_post_path(post), id:"link-post" %>
      </div>
    </div>
  <% end %>
</div>
