<%= render "shared/banner2" %>

<div class="container post-container">
  <div class="card post-card">
    <div class="card-header text-center">
      <h1>Créer un post</h1>
    </div>
    <div class="card-body">
      <%= form_with model: @journal_post, local: true, html: { class: "post-form" } do |form| %>
        <div class="form-group">
          <%= form.label :date, "Date", class: "form-label" %>
          <%= form.date_field :date, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= form.label :content, "Contenu", class: "form-label" %>
          <%= form.text_area :content, rows: 5, class: "form-control" %>
        </div>

        <div class="d-flex justify-content-center gap-3 mt-4">
          <%= form.submit "Créer", class: "btn btn-lg btn-primary shadow-sm px-4 py-2 fw-bold" %>
          <%= link_to "Annuler", journal_posts_path, class: "btn btn-lg btn-outline-secondary shadow-sm px-4 py-2 fw-bold" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
