<%= render "shared/banner2" %>
<div class="container-post">
  <div class="title-card"><h1>Mon post</h1></div>
    <div class="container-post-show">
      <h2 class="post-date"><%= @journal_post.date %></h2>
      <p class="post-content"><%= @journal_post.content %></p>
      <div class="container-links-post">
        <div class="container-link-post">
          <%= link_to journal_post_path(@journal_post),
            data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},
            class: "nav-link-post-show" do %>
            <i class="fa-solid fa-trash"></i> Supprimer
          <% end %>
        </div>
        <div class="container-link-post">
          <%= link_to edit_journal_post_path(@journal_post), class: "nav-link-post-show" do %>
            <i class="fa-solid fa-pencil"></i> Modifier
          <% end %>
        </div>
        <div class="container-link-post">
          <%= link_to journal_posts_path, class: "nav-link-post-show" do %>
            <i class="fa-solid fa-arrow-left"></i> Journal
          <% end %>
        </div>
      </div>
    </div>
</div>
