<%= render "shared/navbar" %>
<div class="container calendar mt-3 text-center">
  <div class="title-calendar"><h1 class="mon-calendrier">Mon calendrier</h1></div>
    <div class="row justify-content-center">
      <div class=" calendar-container col-12 col-lg-6">
          <%= month_calendar(locale: :fr, events: @moods) do |date, moods| %>
          <div class="day-container">
            <div class="day-number"><%= date.day %></div>
            <div class="mood-circle-wrapper">
              <% if moods.any? %>
                <% last_mood = moods.last %>  <%# Prend la dernière humeur enregistrée %>
                <div class="mood-circle" style="background-color: <%= last_mood.color %>;"></div>
              <% else %>
                <div class="mood-circle empty"></div> <%# Cercle invisible mais qui prend de la place %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <%= link_to "Mon kit de secours", ressources_path %>
  </div>
