<div class="container mt-5" data-controller="color-on-moods">
  <div class="row justify-content-center">
    <div class="col-10 col-lg-5">
      <div class="new-mood">
        <h1 class="mb-2 text-center">Comment vas-tu aujourd'hui <%= current_user.name %> ?</h1>
          <% if @mood.errors.any? %>
            <div class="alert alert-danger">
              <ul>
                <% @mood.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <%= form_with model: @mood, local: true do |form| %>
            <div class="form-group mt-4">
              <%= form.label :value, "Sélectionne ton humeur" %>
              <div class="slider-container">
                <%= form.text_field :value, type: 'range', min: 1, max: 7, step: 1, value: @mood.value,
                    class: "form-control-range", id: "mood-slider",
                    data: { color_on_moods_target: "slider", action: "input->color-on-moods#updateColor" } %>
              </div>
              <!-- Cercle de couleur contrôlé par Stimulus -->
              <div class="d-flex align-items-center justify-content-center mt-3">
                <div data-color-on-moods-target="colorDisplay" class="mt-2 me-3"
                  style="width: 50px; height: 50px; border-radius: 50%; background-color: <%= @mood.color %>;">
                </div>
                <p data-color-on-moods-target="moodText"><%= @mood.value %></p>
              </div>
            </div>
            <div class ="d-flex justify-content-center align-items-center align-content-center">
              <div class="form-group mt-4">
                <%= form.label :date, "Date" %>
                <%= form.date_field :date, value: Date.today %>
              </div>
              <div class="form-group mt-3 align-self-end">
                <%= form.submit "Enregistrer", class: "btn btn-primary ms-3" %>
              </div>
              <% end %>
            </div>
      </div>
      <div class="menu mt-5 text-center">
        <%= link_to "Menu", menu_path, class:"btn-menu" %>
      </div>
    </div>
  </div>
</div>
