<%= render partial: "shared/banner2" %>

<div class="container" data-controller="color-on-moods">
    <div class="title-card"><h1>Mon humeur</h1></div>
      <div class="row d-flex justify-content-center">
        <div class="col-8 col-lg-6">
          <div class="new-mood ">
            <div class="form">
              <%= form_with model: @mood, data: { turbo: "false", controller: "color-on-moods" } do |form| %>
              <div class="form-group mt-2 ">
                <div class="d-flex align-items-center justify-content-center mt-1">
                  <div class="d-flex justify-content-center me-5">
                    <img data-color-on-moods-target="emotji" src= "<%= "https://res.cloudinary.com/dbggxy9uy/image/upload/v1742735300/2026759_amrmxz.png" %> "width="70" height="70" alt="Emotji">
                  </div>
                  <p class="mood-text" data-color-on-moods-target="moodText"><%= @mood.value %></p>
                </div>
                <div class="slider-container mt-5">
                <%= form.text_field :value, type: 'range', min: 1, max: 7, step: 1, value: @mood.value,
                    class: "form-control-range", id: "mood-slider",
                    data: { color_on_moods_target: "slider", action: "input->color-on-moods#updateColor" } %>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="new-mood-submit mt-4 mb-3 d-flex justify-content-center align-items-center">
                    <div class="form-group me-2">
                      <%= form.date_field :date, value: Date.today %>
                    </div>
                    <div class="submit ">
                      <%= form.submit "Enregistrer", class: "btn-new-mood" %>
                    </div>
                  </div>
                </div>
              </div>
              <% end %>
          </div>
      </div>
    </div>
  </div>
</div>
