<div class="home" data-controller="color-on-moods">
  <div class="container">
    <div class="banner d-flex">
      <div class="container align-self-center">
        <h1 class="text-center">Moodie</h1>
      </div>
    </div>

    <div class="row justify-content-center mt-4">
      <div class="col-10 col-lg-6 text-center">
        <div class="mood-box">
          <h2 class="mood-title">Mon humeur</h2>
          <div class="mood-display">
            <div class="mood-bubble">
              <img data-color-on-moods-target="emoji"
                   class="mood-circle <%= @mood.value ? '' : 'empty' %>"
                   src="https://res.cloudinary.com/dbggxy9uy/image/upload/v1742735269/2026645_ce84cs.png"
                   width="50"
                   height="50"
                   alt="Emoji">
              <p class="mood-text" data-color-on-moods-target="moodText"><%= @mood.value || "Plutôt mal" %></p>
            </div>
          </div>
        </div>

        <div class="slider-container mt-4">
          <%= form_with model: @mood, local: true, data: { turbo: false } do |form| %>
            <%= form.text_field :value,
                  type: 'range',
                  min: 1,
                  max: 7,
                  step: 1,
                  value: @mood.value || 3,
                  class: "form-control-range",
                  id: "mood-slider",
                  data: { color_on_moods_target: "slider", action: "input->color-on-moods#updateMoodDisplay" } %>

            <div class="new-mood-submit mt-3">
              <%= form.submit "Valider", class: "btn-new-mood" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
