
<div class="ressource-card d-flex flex-row mx-4 my-5 pt-3 px-3">
  <div class="">
    <% if not ressource.longitude.nil? && ressource.latitude.nil? %>
      <img src="https://maisondesados-sdn.fr/wp-content/themes/aka_theme/libs/images/logo_mda_rond.png" alt="" style="height: 100px;">
    <% end %>
    <div class="card-body">
      <h5 class="card-title mb-2"><strong><%= ressource.title %></strong></h5>
      <p class="card-text small">
        <%= ressource.description %>
        <br>
        <% if not ressource.adress.nil? %>
          <i class="fa-solid fa-map-location-dot"></i>
          <%= ressource.adress %>
        <% end %>
      </p>
      <% if not ressource.longitude.nil? && ressource.latitude.nil? %>
        <%= link_to "Voir site", ressource.url, class: "btn btn-dark", target: "_blank" %>
      <% else %>
        <%= link_to "Voir l'article", ressource.url, class: "btn btn-dark", target: "_blank" %>
      <% end %>
    </div>
  </div>
</div>
