<%= render "shared/navbar" %>
<div class="ressources-container mt-3 text-center">

  <h1>Mon kit de secours</h1>

  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">

      <div class="card m-4">
        <div class="d-flex flex-row">
          <img src="https://maisondesados-sdn.fr/wp-content/themes/aka_theme/libs/images/logo_mda_rond.png" alt="" style="height: 140px;">
          <div class="card-body">
            <h5 class="card-title">Ressources près de chez moi</h5>
            <p class="card-text small">Trouvez les ressources à côté de chez vous en suivant le lien ci-après!</p>
            <%= link_to "Voir site", pres_de_chez_moi_ressources_path, class: "btn btn-secondary" %>
          </div>

        </div>
      </div>

      <% @ressources.each do |ressource| %>
        <div class="card m-4">
          <div class="d-flex flex-row">
            <img src="https://maisondesados-sdn.fr/wp-content/themes/aka_theme/libs/images/logo_mda_rond.png" alt="" style="height: 140px;">
            <div class="card-body">
              <h5 class="card-title"><%= ressource.title %></h5>
              <p class="card-text small"><%= ressource.description %></p>
              <%= link_to "Voir site", ressource.url, class: "btn btn-secondary", target: "_blank" %>
            </div>

          </div>
        </div>
      <% end %>
    </div>
  </div>

</div>
