<%= render "shared/banner2" %>
<div class="container text-center">
  <div class="title-card"><h1>Mon kit de secours</h1></div>
    <div class="ressources-container col-12 col-lg-6"  data-controller="search-ressources">
      <div class="d-flex justify-content-center">
        <%= form_with url: ressources_path, method: :get, html: { class: "ressources-input col-8 margin-auto", data: {search_ressources_target: "form"}} do |f|%>
          <%= f.text_field :query, class: "form-control", placeholder:
                    "Chercher un article...", value: params[:query],
                    data: {
                      search_ressources_target: "input",
                      action: "keyup->search-ressources#update"
                    } %>
        <% end %>
      </div>
      <div class="ressource-card mx-4 my-4 p-3">
        <i class="fa-solid fa-phone"></i> <strong>Harcèlement scolaire</strong> <strong><span style="color: #FF0000;">30 20</span></strong>
        <br>
        <i class="fa-solid fa-phone"></i> <strong>Cyberharcèlement</strong> <strong><span style="color: #FF0000;">30 18</span></strong>
        <br>
        <i class="fa-solid fa-phone"></i> <strong>Prévention Suicide</strong> <strong><span style="color: #FF0000;">31 14</span></strong>
      </div>

      <div class="card mx-4 mb-3 align-items-center d-flex flex-column" id="search-card">
        <div class="card-body">
          <h5 class="card-title"><strong>Près de chez moi</strong></h5>
          <%= form_with url: pres_de_chez_moi_ressources_path, method: :get do |f|%>
            <div class="d-flex gap-2 align-items-center">
              <%= f.text_field :adress, class: "form-control bg-white" %>
              <%= f.submit "Rechercher", class: "btn btn-outline-dark btn-sm bg-white text-dark fw-bold shadow-sm w-auto" %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="d-flex flex-column mt-4" >
        <%= render 'list', ressources: @ressources %>
      </div>

  </div>
</div>
