<% if user_signed_in? %>
  <nav class="navbar bottom-navbar d-flex justify-content-around">
    <%= link_to moods_path, class: "nav-link #{'active' if current_page?(moods_path)}" do %>
      <i class="fa-solid fa-calendar"></i> Calendrier
    <% end %>

    <%= link_to journal_posts_path, class: "nav-link #{'active' if current_page?(journal_posts_path)}" do %>
      <i class="fa-solid fa-book"></i> Journal
    <% end %>

    <%= link_to musiques_path, class: "nav-link #{'active' if current_page?(root_path)}" do %>
      <i class="fa-solid fa-music"></i> Musique
    <% end %>

    <%= link_to ressources_path, class: "nav-link #{'active' if current_page?(ressources_path)}" do %>
      <i class="fa-solid fa-suitcase-medical"></i> Kit Secours
    <% end %>

    <%= link_to destroy_user_session_path, data: { turbo_method: :delete }, class: "nav-link" do %>
      <i class="fa-solid fa-user"></i> Déconnexion
    <% end %>
  </nav>
<% else %>
  <p class="nav-item">
    <%= link_to "Login", new_user_session_path, class: "mt-3 d-none nav-link" %>
  </p>
<% end %>
