<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <% if user_signed_in? %>
      <%= link_to "#", class: "navbar-brand" do %>
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/cveneziani", class: "avatar", alt: "avatar" %>
      <% end %>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav align-items-center justify-content-center w-100">
            <li class="nav-item">
              <%= link_to "Accueil", root_path, class: "nav-link", data: { turbo: false } %>
            </li>
            <li class="nav-item">
              <%= link_to "Calendrier", moods_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%=link_to "Journal", journal_posts_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Kit de secours", ressources_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
                <%= link_to "Deconnexion", destroy_user_session_path, data: {turbo_method: :delete}, class: "nav-link" %>
            </li>
         </ul>
          <div class= "ms-auto me-3">
            <p class="nav-item dropdown justify-content-end" id= "title">
              Moodie
            </p>
          </div>
        </div>

      <% else %>
            <p class="nav-item">
              <%= link_to "Login", new_user_session_path, class: " mt-3 d-none nav-link" %>
            </p>
          <% end %>
        </ul>
      </div>
  </div>
</div>
